p {
    font-size: 18px;
}

h1 {
    font-size: 48px;
}

#titulo {
    color: blue;
}

.destaque {
    color: red;
}

.container p {
    background-color: yellow;
}

a.link {
    color: green;
}

ul.lista {
    background: #3399ff;
    list-style: square;
}

.lista li {
    background: #cce5ff;
}